<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
     <link href="user.css" rel="stylesheet">
</head>
<body>
    
       <form action="" method="">
        <label for="email">email</label><br>
        <input type="email" id="email"><br>
        <label for="password">password</label><br>
        <input type="password" id="password"><br>
        <button type="button" id="btn">login</button>
</form>
    
    <script src="script.js" ></script>
</body>
</html>